/*구글 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');

:root
{
  --main_font_size: 24px;
  --btn_input_font_size: 20px;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asta Sans", sans-serif;
}

body
{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(221, 221, 221);
}

/* 컨테이너 ================================================== */
.flex_row
{
  display: flex;
}

#cam_result_cont
{
  width: 100%;
  padding-left: calc(50% - 206px);
}

#cam_cont
{
  display: flex;
  width: 206px;
  height: 206px;
  border: 3px solid rgb(0, 0, 0);
}

.flex_col
{
  display: flex;
  flex-direction: column;
}
/* 컨테이너 ================================================== */


/* 테이블   ================================================== */
table
{
  table-layout: fixed;
  font-size: var(--main_font_size);
}

#map_table
{
  border-collapse: separate;
  border-spacing: 10px 2px;
}

#map_table td:nth-of-type(2) input
{
  width: var(--btn_input_font_size);
  min-width: 0;
}
/* 테이블   ================================================== */


/* 텍스트   ================================================== */
strong
{
  font-size: var(--main_font_size);
}

.dis_txt
{
  color: rgb(255, 58, 58);
}

.con_txt
{
  color: rgb(45, 142, 253);
}

.request_txt
{
  color: rgb(0, 48, 8);
}

.guide_txt
{
  color: rgb(0, 0, 0);
}
/* 텍스트   ================================================== */


/* 입력창   ================================================== */
input
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  text-indent: 0;
  text-align: center;

  font-size: var(--btn_input_font_size);
  color: rgb(0, 0, 0);
}

input::placeholder
{
  color: rgb(0, 0, 0);
  opacity: 1;
  font-style: italic;
}
/* 입력창   ================================================== */


/* 버튼     ================================================== */
button
{
  padding: 2px 5px;
  font-size: var(--btn_input_font_size);
  
  cursor: pointer;

  border: none;
  border-radius: 4px;
}

button:disabled
{
  opacity: 0.4;
  cursor: not-allowed;
}

.dis_btn
{
  background-color: rgb(58, 199, 255);
  color: rgb(0, 44, 61);
}

.con_btn
{
  background-color: rgb(255, 58, 196);
  color: rgb(71, 0, 50);
}

.request_btn
{
  background-color: rgb(81, 255, 58);
  color: rgb(5, 46, 0);
}
/* 버튼     ================================================== */



.graph_cont
{
  display: flex;
  flex-direction: column;
}

.bar_cont
{
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: calc(var(--main_font_size) + 3px);

  border-radius: 10px;

  position: relative;
}

.bar
{
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 0%;

  border-radius: 10px;
}

.bar_value
{
  position: absolute;
  right: 8px;
  /* top : 요소의 "윗변"이 위치할 곳 -> transform으로 중앙선이 위치할 곳으로 바꿔주는 효과 */
  top: 50%;
  transform: translateY(-50%);

  font-size: var(--main_font_size);
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.bar_label
{
  position: absolute;
  left: 8px;
  /* top : 요소의 "윗변"이 위치할 곳 -> transform으로 중앙선이 위치할 곳으로 바꿔주는 효과 */
  top: 50%;
  transform: translateY(-50%);

  width: 175px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: var(--main_font_size);
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}