/*구글 폰트 - 나눔 고딕 코딩*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

:root
{
  --main_font_size: 20px;
  --btn_input_font_size: 16px;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic Coding", sans-serif;
}

body
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid
{
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);

  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;

  gap: 10px;
}

.grid_cell
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_row
{
  display: flex;
}



table
{
  table-layout: fixed;
}

#map_table td:nth-of-type(2) input
{
  width: 16px;
  min-width: 0;
}